<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:b="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    					http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security-3.0.xsd">
	<http>

		<intercept-url pattern="/admin/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/restrito/**" access="ROLE_USUARIO" />
		<form-login login-page="/publico/home_public.jsf"
			always-use-default-target="true" default-target-url="/restrito/home_resticted.jsf"
			authentication-failure-url="/publico/home_public.jsf?login_error=1" />
		<logout/>
		<remember-me />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="aline" password="doleron0587" authorities="ROLE_ADMIN,ROLE_USER"/>
			</user-service>
			<jdbc-user-service data-source-ref="hpddDataSource"
				authorities-by-username-query="SELECT u.login, p.permissao 
											 FROM user u, user_permission p 
											WHERE u.codigo = p.usuario 
											  AND u.email = ?"
				users-by-username-query="SELECT email, password, status
									   FROM user 
									  WHERE email = ?" />
		</authentication-provider>
	</authentication-manager>
</b:beans>
