#mytable {
	width: 700px;
	padding: 0;
	margin: 0;
}


caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

th {
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-top: 1px solid #C1DAD7;
	
	
	text-align: center;
	padding: 6px 6px 6px 12px;
	background: #BCD2E6 url(../images/bg_header.jpg) no-repeat;
}
th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

td {
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

.a
{
	color: #FF9834;
}


td.alt {
	background: #F5FAFA;
	color: #797268;
}

th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

#tbHeredrograma tr{
	
	text-align:center;
}
#tbHeredrograma tr td{
	
}
