/**
 * Tidy editor style.
 *
 * @package Tidy
 */
/* =Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: white;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/* =Global
----------------------------------------------- */
body,
button,
input,
select,
textarea {
  color: #1c1c1c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
  margin-bottom: 30px;
}

h1 {
  font-size: 2.14286em;
}

h2 {
  font-size: 1.85714em;
}

h3 {
  font-size: 1.57143em;
}

h4 {
  font-size: 1.42857em;
}

h5 {
  font-size: 1.28571em;
}

h6 {
  font-size: 1em;
}

hr {
  background-color: #cdd0d4;
  border: 0;
  height: 1px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* Text elements */
p {
  margin-bottom: 1em;
}

ul, ol {
  margin: 0 0 30px 4.35714em;
}

ul {
  list-style: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}

ol {
  list-style: decimal;
}

li {
  margin-bottom: 1em;
}

li > ul,
li > ol {
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 1.5em;
}

dl {
  margin: 0 0 30px 0;
}

dt {
  font-weight: bold;
  margin-bottom: 0.5em;
}

dd {
  margin: 0 0 1em 3em;
}

b, strong {
  font-weight: bold;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 0 30px 65px;
}

address {
  margin: 0 0 1em;
}

pre {
  background: #e3e6ea;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 30px;
  max-width: 100%;
  overflow: auto;
  padding: 30px;
}

code, kbd, tt, var {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Courier 10 Pitch", Courier, monospace;
}

abbr, acronym {
  border-bottom: 1px dotted #666666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 30px;
  width: 100%;
}

th {
  font-weight: bold;
}

img {
  height: auto;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 14px;
  font-size: 1.4rem;
  color: #0058ae;
  line-height: 1;
  padding: 0.3em 0.5em 0.2em;
  background: white;
  border-color: #cccccc;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  color: white;
  background: #0058ae;
}
button:focus, button:active,
input[type="button"]:focus,
input[type="button"]:active,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="submit"]:focus,
input[type="submit"]:active {
  color: white;
  background: #0058ae;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  -webkit-appearance: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #1c1c1c;
  border-color: #e3e6ea;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #1c1c1c;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 5px;
}

textarea {
  overflow: auto;
  padding-left: 5px;
  vertical-align: top;
  width: 98%;
}

/* Links */
a {
  color: #0058ae;
  text-decoration: none;
}
a:visited {
  color: #0058ae;
}
a:focus {
  color: #0058ae;
}
a:hover {
  color: #0058ae;
}
a:active {
  color: #0058ae;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 30px;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 30px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
  display: none;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Clearing */
.clear,
.entry-content,
.comment-content,
.site-content,
.inner {
  *zoom: 1;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-content:after,
.inner:after {
  content: "";
  display: table;
  clear: both;
}

/* =Entry Content
----------------------------------------------- */
.entry-content,
.page-content {
  margin-bottom: 30px;
}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6,
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  clear: none;
}
.entry-content > p,
.page-content > p {
  margin-bottom: 40px;
}
.entry-content a[target="_blank"]:after,
.page-content a[target="_blank"]:after {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 16px/1 'Genericons';
  vertical-align: middle;
  content: '\f442';
}
.entry-content blockquote:before,
.page-content blockquote:before {
  margin-left: -35px;
  float: left;
  color: #e3e6ea;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 16px/1 'Genericons';
  vertical-align: middle;
  content: '\f106';
  font: normal 30px/20px 'Genericons';
  vertical-align: bottom;
}
.entry-content .gallery,
.page-content .gallery {
  margin-bottom: 30px;
}
.entry-content .gallery-caption,
.page-content .gallery-caption {
  font-size: 0.85714em;
}
.entry-content .gallery a img,
.page-content .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}
.entry-content .gallery dd,
.page-content .gallery dd {
  margin: 0;
}

/* =Media
----------------------------------------------- */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.wp-caption {
  border-style: none;
  border-color: #cccccc;
  border-width: 1px;
  margin-bottom: 30px;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}

.wp-caption-text {
  text-align: center;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

body#tinymce.wp-editor {
  margin: 10px;
}
